/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Structural css */

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3b4b59;
}

/* navigation links */

#logo{
    display: flex;
    justify-content: center;
}

nav{
    display: inline-flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.menu-links{
    flex: 1;
    text-align: center;
}

.menu-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.menu-links ul li a{
    color: #3b4b59;
    text-decoration: none;
    font-size: 20px;
}

.menu-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3b4b59;
    display: block;
    transition: 0.5s;
}

.menu-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* hero image */

#hero-outer {
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    min-height: 75vh;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Cover text */
#cover-text, #cover-text h2 {
    color: #3b4b59;
}

#cover-text {
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: (rgb(178,215,223) .7);
    
    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* About */

#about {

}